<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    @*<script type="text/javascript">
        constants = {
            getPage: '@Url.RouteUrl("default", new {controller = "HomePage", action = "Index" })'
        }
    </script>*@
    <title>John Smith</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")" />
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body>
    <div id="loading">Loading</div>
    <div id="root"></div>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>